@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style:none;
    text-decoration: none;
    font-family:'Noto', sans-serif;

}

header{
    background-color: #FF69B4;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content:space-around;
    .inf-logo{
        width: 25vw;
        display: flex;
        align-items: center;
        h1{
            color:#E4EEF1;
            font-size: 1.7vw;
            font-weight: 400px;
            line-height: 38px;
        }
  
    }
    .menu{
        width: 40%;
    }ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.4vw;
        font-weight: 400;


    }a{
        color: #E4EEF1;
    }
 

}

main{
    .sobre{
        background-color: #FFD9EC;
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        p{
            color: #000000;
            width:40vw ;
            font-size:1.5vw ;
            font-weight: 400;
            line-height: 34px;
        }
        img{
            width:365px ;
            height: 355px;
        }

    }
    .conscientizacao{
        background-color: #FF69B4;
        height: 262px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        img{
            height: 234px;
            width: 421px;
        }
        p{
            width: 90vh;
            color: #E4EEF1;
            font-size:25px ;
            font-weight: 400;
            line-height: 34px;
        }
    }
   
    .dicas{
        background-color: #FFD9EC;
        height: 426px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        img{
            width: 250px;
            height: 250px;

        }
        
    }
}

footer{
    background-color: #FF69B4;
    height:143px ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    p{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    span{
        color:#E4EEF1;
        font-size: 1.1vw;
        font-weight: 400;
        line-height: 27px;
    }
}

